*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
   font-family: "Roboto", sans-serif;
   font-size: 16px;
}

img{
  max-width: 100%;
}

.aboutUsSection{
  width:100vw;
  height: 100vh;
  display: flex;
  background-color: #DADADA;
  /* background-color: blue; */
}

.aboutUsContent{
  flex: 1;
  padding: 20px;
}

.aboutUsImageSection{
  flex: 1;
  /* background-color: green; */
  padding: 20px 135px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.logoTop{
  float: left;
  padding: 0px 20px;
}

.logoTop a{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  float: left;
  padding: 0px 20px;
}

.logoTopNav::after {
  clear: both;
  display: block;
  content: '';
}


.container{
  max-width: 100vw;
  margin: 0 auto;
}

.navContainer{
  width: 100%;
  padding: 10px;
  background-color: #ba5252;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navlinks{
  color: white;
  display: none;
}

.navList{
  list-style: none;
  display: inline;
}

.navItem{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  float: right;
  padding: 0 50px;
}

.navItem::after {
  clear: both;
  display: block;
  content: '';
}
/* About Us Page - Hanoi Meets Paris */
.aboutUsContainer{
  background-color: #DADADA;

}

.aboutUs{
  float: left;
  padding: 35% 40px 40px 135px;
  font-size: 16px;
}

.headerStyle1{
  font-size: 60px;
  color: grey;
}

.headerStyle2{
  font-size: 65px;
  color: #ba5252;
}

.aboutUsText{
  font-size: 20px;
  color: #ba5252;
  padding-top: 5%;
  padding-right: 5;
}

.button{
  background-color: #ba5252;
  color: white;
  border-radius: 25px;
  padding: 6px 15px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.aboutUsButton{
  margin-top: 10%;
}

.aboutUsImage{
  float: right;
  max-width:100%;



}

/* About Our Menu */

.menuSection{
  background-color: #363535;
}

.menuText{
  font-size: 20px;
  color: #ba5252;
  padding-top: 5%;
  padding-right: 5;
}


.ourMenuButton{
  margin-top: 20px;
}

.ourMenuImage{
  float: right;
  max-width: 100%
}

/* Private Functions */

.functionsText{
  color: grey;

}

.functionsText , .functionsTextRed{
  font-size: 20px;
  padding-top: 5%;
  padding-right: 5;
}

.functionsTextRed{
  color: #ba5252;
}

.ourFunctionsButton{
margin-top: 20px;
}



/* footer tutorial link = https://www.youtube.com/watch?v=KUHrMzN7ey8 */
.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0px;
  box-sizing: border-box;
  background-color: #363535;
}

.innerFooter{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%
}

.innerFooter .logoContainer{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.innerFooter .logoContainer img{
  width: 65px;
  height: auto;
}

.innerFooter .footerThird{
  /* evenly space footerThirds */
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.innerFooter .footerThird:last-child{
  /* no margin on the right for the last footerThird */
  margin-right: 0;
}

.innerFooter .footerThird h1{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.innerFooter .footerThird a{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  display: block;
  font-weight: 200px;
  width: 100%;
  padding-bottom: 5px;
  }

.innerFooter .footerThird li{
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

.innerFooter .footerThird span{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  display: block;
  width: 100%;
  padding-top: 20px;
}
